.slide-toggle {
  font-size: 1.9em;
  text-align: end;
  margin-right: 1em;
}

.logo-con {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 10px;
}

.canva {
  width: 250px !important;
  /* background-color: #fff; */
  background-color: #ffffff !important;
  opacity: 1;
  border-radius: 8px;
}

.slide-link-item {
  /* margin-top: 0.3em; */
  font-size: 1.1em !important;
  color: #484848;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  gap: 1em;
}
.slide-img {
  /* height: 55px;
  width: 55px; */
  /* border: 1px solid #6f7efd; */
 /* border-radius: 50%; */
 width: 45px;
 height: 45px!important;
 border-radius: 50%;
}

.user-acc {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #222222;
}

.sidebar-link:hover {
  color: #6f7efd !important;

}

.sidebar-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #6f7efd;
  display: block;
  margin: auto;
  transition: 0.6s;
}

.sidebar-link:hover::after {
  width: 90%;
}

@media screen and (max-width: 768px) {
  .slide-link-item {
    margin-top: 0.5em;
    gap:1.4em;
    font-size: 1.1em!important;
  }
}
