.admin-section{
    margin-top: 80px;
     height: 50vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     /* border: 2px solid red; */
}

.update-aprofile{
    height: 55vh !important;
    width: 42vw !important;
    display: flex !important;
    margin: auto;
    justify-content: center !important;
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width:768px) {
    .update-aprofile{
        width: 90vw!important;
        height: 45vh!important  ;
    }
}